.products-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	gap: 20px;
	padding: 20px;
}

.product-card img {
	width: 100%;
}

.header-wrapper {
	width: 100%;
	height: 4rem;
	display: flex;
	padding: 20px;
	justify-content: space-between;
	align-items: center;
}

.search-bar {
	height: 2rem;
	width: 20%;
	margin-right: 2.2rem;
	border-color: transparent;
	color: #b4b4b4;
	background-color: #f6f6f6;
	border-radius: 16px;
	font-family: inherit;
}

.search-bar[type='text'] {
	text-indent: 10px;
}

.search-bar:hover {
	outline: none;
	color: #999999;
	background-color: #dadada;
}

.search-bar::placeholder {
	color: inherit;
	opacity: 1;
}

.logo-link {
	text-decoration: none;
	color: inherit;
	font-size: 32px;
	font-weight: 600;
}

.landing-wrapper {
	display: flex;
	align-items: flex-start;
	height: 100vh;
}

.landing-image-wrapper {
	display: block;
	height: auto;
}

.landing-image-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.landing-text-wrapper {
	position: sticky;
	top: 0px;
	width: 40%;
	height: auto;
	margin-bottom: 5%;
}

.landing-text-wrapper p {
	font-size: 1.1rem;
}

.highlight-green {
	font-size: 4rem;
	display: inline-block;
	border-radius: 1em 0 1em 0;
	background-image: linear-gradient(
		-100deg,
		rgba(0, 255, 20, 0.2),
		rgba(0, 255, 20, 0.7) 95%,
		rgba(0, 255, 20, 0.1)
	);
}

/* PRODUCTS MODAL */

.products-modal-wrapper {
	position: absolute;
	height: 60%;
	width: 100%;
	top: 0; /* Posiciona debajo del input */
	left: 0;
	display: flex; /* Usa flex para alinear los hijos verticalmente */
	flex-direction: column; /* Organiza los hijos en una columna */
	align-items: center; /* Centra los hijos horizontalmente */
	background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
	backdrop-filter: blur(5px); /* Desenfoque del fondo */
	z-index: 10;
}

.products-modal-searchbar {
	width: 100%; /* O un porcentaje/ancho específico según el diseño */
	max-width: 1800px; /* Ajusta esto para controlar el ancho máximo */
	margin: 0 auto; /* Centra la SearchBar dentro del contenedor */
	padding: 10px;
	text-align: center;
}

.products-modal-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 10px;
	margin: 0 auto; /* Centra la grid horizontalmente */
	padding: 10px;
	max-width: 800px; /* Ajusta esto según el ancho deseado para la grid */
}

.product-item {
	text-align: center; /* Mantiene el texto centrado dentro de cada producto */
}

.product-item img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

/* Media Query para dispositivos móviles */
@media screen and (max-width: 768px) {
	.landing-wrapper {
		flex-direction: column; /* Cambia a un diseño de columna */
	}

	.landing-image-wrapper,
	.landing-text-wrapper {
		width: 100%; /* Ajusta el ancho para ocupar todo el contenedor */
		position: relative; /* Resetear la posición sticky en móviles */
	}

	.landing-text-wrapper {
		top: unset;
		margin-bottom: 20px;
	}

	.products-grid {
		margin-top: 40px; /* Espacio extra arriba del grid en móviles */
	}
}
