.products-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	gap: 20px;
	padding: 20px;
}

.product-card img {
	width: 100%;
}

.header-wrapper {
	width: 100%;
	height: 4rem;
	display: flex;
	padding: 20px;
	justify-content: space-between;
	align-items: center;
}

.search-bar {
	height: 2rem;
	width: 20%;
	margin-right: 2.2rem;
	border-color: transparent;
	color: #b4b4b4;
	background-color: #f6f6f6;
	border-radius: 16px;
	font-family: inherit;
}

.search-bar[type='text'] {
	text-indent: 10px;
}

.search-bar:hover {
	outline: none;
	color: #999999;
	background-color: #dadada;
}

.search-bar::placeholder {
	color: inherit;
	opacity: 1;
}

.logo-link {
	text-decoration: none;
	color: inherit;
	font-size: 32px;
	font-weight: 600;
}

.landing-wrapper {
	display: flex;
	align-items: flex-start;
	height: 100vh;
}

.landing-image-wrapper {
	display: block;
	height: auto;
}

.landing-image-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.landing-text-wrapper {
	position: sticky;
	top: 0px;
	width: 40%;
	height: auto;
	margin-bottom: 5%;
}

.highlight-container,
.highlight {
	position: relative;
}

.highlight-container {
	display: inline-block;
}
.highlight-container:before {
	content: ' ';
	display: block;
	height: 90%;
	width: 100%;
	margin-left: -3px;
	margin-right: -3px;
	position: absolute;
	background: #ffd500;
	transform: rotate(2deg);
	top: -1px;
	left: -1px;
	border-radius: 20% 25% 20% 24%;
	padding: 10px 3px 3px 10px;
}

/* Media Query para dispositivos móviles */
@media screen and (max-width: 768px) {
	.landing-wrapper {
		flex-direction: column; /* Cambia a un diseño de columna */
	}

	.landing-image-wrapper,
	.landing-text-wrapper {
		width: 100%; /* Ajusta el ancho para ocupar todo el contenedor */
		position: relative; /* Resetear la posición sticky en móviles */
	}

	.landing-text-wrapper {
		top: unset;
		margin-bottom: 20px;
	}

	.products-grid {
		margin-top: 40px; /* Espacio extra arriba del grid en móviles */
	}
}
